In [2]:
import seaborn as sns
from scipy import stats
from scipy.stats import skew,norm
from scipy.stats.stats import pearsonr

In [2]:


df_1 = pd.read_csv('data/reviews_full.csv')
# checking shape ...
print("The dataset has {} rows and {} columns.".format(*df_1.shape))

# ... and duplicates
print("It contains {} duplicates.".format(df_1.duplicated().sum()))

The dataset has 170973 rows and 6 columns.
It contains 0 duplicates.

In [4]:
df_1.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,38585,129120,2010-10-28,55877,Ritchie,Evelyne is an accommodating host who lives in ...
1,38585,147273,2010-11-30,279973,Cathy,Evelyne was very welcoming to her home; my fri...
2,38585,198797,2011-03-14,411638,NaN,I really enjoyed Evelyne's welcoming and bubbl...
3,38585,201932,2011-03-17,441855,Bill,Very gracious host and was helpful in all aspe...
4,38585,341616,2011-06-28,657560,Joakim,Evelyn was very friendly and easy to comunicat...

In [5]:
df_2 = pd.read_csv('data/listings.csv')
df_2.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,38585,Charming Victorian home - twin beds + breakfast,165529,Evelyne,NaN,28804,35.65146,-82.62792,Private room,55,2,137,2019-11-11,1.24,1,64
1,80905,French Chic Loft,427027,Celeste,NaN,28801,35.59740,-82.55498,Entire home/apt,765,1,102,2019-11-10,1.02,10,347
2,108061,"Walk downtown or UNCA, Pets OK!",320564,Lisa,NaN,28801,35.60670,-82.55563,Entire home/apt,75,30,88,2019-10-09,0.88,2,210
3,155305,Cottage! BonPaul + Sharky's Hostel,746673,BonPaul,NaN,28806,35.57972,-82.59617,Entire home/apt,107,1,227,2019-11-18,2.24,7,347
4,156805,"Private Room ""Ader"" at BPS Hostel",746673,BonPaul,NaN,28806,35.57755,-82.59697,Private room,71,1,64,2019-11-02,0.64,7,345

In [10]:
# merging full df_1 + add only specific columns from df_2
df = pd.merge(df_1, df_2[['host_id', 'latitude',
                          'longitude', 'number_of_reviews', 'id', 'room_type']], 
              left_on='listing_id', right_on='id', how='left')

df.head(3)

,listing_id,id_x,date,reviewer_id,reviewer_name,comments,host_id,latitude,longitude,number_of_reviews,id_y,room_type
0,38585,129120,2010-10-28,55877,Ritchie,Evelyne is an accommodating host who lives in ...,165529,35.65146,-82.62792,137,38585,Private room
1,38585,147273,2010-11-30,279973,Cathy,Evelyne was very welcoming to her home; my fri...,165529,35.65146,-82.62792,137,38585,Private room
2,38585,198797,2011-03-14,411638,NaN,I really enjoyed Evelyne's welcoming and bubbl...,165529,35.65146,-82.62792,137,38585,Private room

In [11]:
# checking shape
print("The dataset has {} rows and {} columns.".format(*df.shape))

The dataset has 170973 rows and 12 columns.

In [12]:
# group by hosts and count the number of unique listings --> cast it to a dataframe
properties_per_host = pd.DataFrame(df.groupby('host_id')['listing_id'].nunique())

# sort unique values descending and show the Top20
properties_per_host.sort_values(by=['listing_id'], ascending=False, inplace=True)
properties_per_host.head(20)

           listing_id
host_id
167186184          48
149601167          24
96187307           22
151397468          17
134903005          14
250328755          13
3665372            13
46001530           11
427027             10
151279507          10
96305927           10
53185861            9
1994122             8
175871539           8
746673              7
722034              7
33151095            7
7625694             7
181480147           5
60348510            5

In [19]:
# import necessary libraries
from nltk.corpus import stopwords


from collections import Counter
from PIL import Image

import re
import string
# load the SentimentIntensityAnalyser object in
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [20]:
# assign it to another name to make it easier to use
analyzer = SentimentIntensityAnalyzer()

LookupError:
**********************************************************************
  Resource vader_lexicon not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('vader_lexicon')

  For more information see: https://www.nltk.org/data.html

  Attempted to load sentiment/vader_lexicon.zip/vader_lexicon/vader_lexicon.txt

  Searched in:
    - 'C:\\Users\\nickb/nltk_data'
    - 'C:\\Users\\nickb\\Anaconda3\\envs\\PythonData\\nltk_data'
    - 'C:\\Users\\nickb\\Anaconda3\\envs\\PythonData\\share\\nltk_data'
    - 'C:\\Users\\nickb\\Anaconda3\\envs\\PythonData\\lib\\nltk_data'
    - 'C:\\Users\\nickb\\AppData\\Roaming\\nltk_data'
    - 'C:\\nltk_data'
    - 'D:\\nltk_data'
    - 'E:\\nltk_data'
    - ''
**********************************************************************

In [21]:
!pip install vader_lexicon

Collecting vader_lexicon

  ERROR: Could not find a version that satisfies the requirement vader_lexicon (from versions: none)
ERROR: No matching distribution found for vader_lexicon